/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * Chapters and sections titles (excluding the book titles).
 */
div.chapter h1 {
  margin-top:          3cm;
  background-color:    #99AAFF;
  border-top-color:    #0000CC;
  border-bottom-color: #0000CC;
  border-top-style:    solid;
  border-bottom-style: solid;
  border-top-width:    2pt;
  border-bottom-width: 2pt;
  padding-bottom:      4pt;
  padding-top:         4pt;
}

div.chapter h2 {
  margin-top:          2cm;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
}

div.chapter h3 {
  margin-top: 1.5cm;
}

div.chapter h4 {
  margin-top: 1cm;
}

p {
  text-align: justify;
}

/*
 * Boxes (programs listing, examples).
 */
pre.programlisting {
  border-style: solid;
  border-width: 1pt;
  padding:      9pt;
}

div.sidebar {
  margin-left:      1.25cm;
  margin-right:     1.5cm;
  padding-right:    9pt;
  padding-left:     9pt;
  border-style:     solid;
  border-width:     1pt;
  background-color: #EEEEEE;
  border-color:     #BBBBBB;
  font-size:        smaller;
}

div.informalexample {
  margin-left:  1.25cm;
  margin-right: 1.5cm;
  font-size:    smaller;
}

/*
 * Tables.
 */
div.table p.title {
  text-align: center;
}

table {
  margin-left:    auto;
  margin-right:   auto;
  border-style:   solid;
  border-width:   2pt;
  border-spacing: 0pt;
}

table tr th {
  background-color:    #B9DCFF;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  padding:             3pt;
}

table tr td {
  padding-left:  9pt;
  padding-right: 9pt;
}

table tr td.leftBorder {
  border-left-style: solid;
  border-left-width: 1pt;
  border-left-color: lightgray;
}

table tr td.separator {
  text-align:          center;
  font-weight:         bold;
  background-color:    #EEEEFF;
  border-top-color:    LightGray;
  border-bottom-color: LightGray;
  border-top-style:    solid;
  border-bottom-style: solid;
  border-top-width:    1pt;
  border-bottom-width: 1pt;
  padding-top:         3pt;
  padding-bottom:      3pt;
}

/*
 * OGC/ISO, GeoAPI and SIS legends.
 */
code.OGC {
  color: MediumBlue;
}

code.GeoAPI {
  color: Green;
}

code.SIS {
  color: SaddleBrown;
}

/*
 * Syntax highlighting.
 */
span.hl-string {
  color: FireBrick;
}

span.hl-annotation {
  color: SeaGreen;
}

span.hl-comment {
  font-style: italic;
  color: MediumSeaGreen;
}

span.hl-doccomment {
  font-style: italic;
  color: MediumSeaGreen;
}

/*
 * Miscellaneous.
 */
span.deprecated {
  text-decoration: line-through;
}

.example-break {
  display: none;
}
