/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import url('standard.css');

/*
 * This file is divided in two parts. The first part is specific to the SIS project
 * and defines the styles used by the developers in the javadoc comments. The second
 * part overwrites some aspects of the default stylesheet provided by the Javadoc tools.
 */


/*
 * Definition of <table class="sis">
 *
 * Table without vertical space between rows, a little bit of space between columns,
 * a light background color and a header with a darker background color. The header
 * also have a little bit more space, and a border is drawn around the table.
 */
table.sis caption {
  color:          #0086E0;
  font-weight:    bold;
  padding-bottom: 4px;
}

table.sis {
  margin:           18px 0;
  width:            auto;
  background-color: #F4F8FF;
  border-color:     darkgray;
  border-style:     solid;
  border-width:     1px;
  border-spacing:   0;
  padding:          0;
  line-height:      1em;
}

table.sis tr th {
  background-color:    #B9DCFF;
  border-bottom-color: darkgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding:             6px;
  padding-bottom:      3px;
}

table.sis tr td {
  padding:        3px 12px;
  vertical-align: text-top;
}

/*
 * Optionally add a line or column separator.
 */
table.sis tr th.hsep {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: darkgray;
}

table.sis tr th.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #819AB2;
}

table.sis tr td.sep {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AAADB2;
}


/*
 * Definition of <table class="compact">
 *
 * Table without vertical space between rows and a little bit of space between columns.
 * This table has no border and text is left-aligned.
 */
table.compact {
  margin:         6px 0px;
  width:          auto;
  border:         none;
  border-spacing: 0;
  padding:        0;
  line-height:    1em;
  text-align:     left;
}

table.compact tr td {
  padding:        0 9px;
  vertical-align: text-top;
}


/*
 * Definition of <div class="note">
 *
 * Note or examples.
 */
div.note {
  color:     #353833;
  font-size:   small;
  margin-left:  40px;
  margin-right: 40px;
  margin-top:    9px;
  margin-bottom: 9px;
}

/*
 * Definition of <div class="warning">
 */
div.warning {
  color:   firebrick;
  margin-left:  40px;
  margin-right: 40px;
  margin-top:    9px;
  margin-bottom: 9px;
}


/*
 * Formatting in the {@section} custom javadoc tag.
 */
div.block h5 {
  font-size:    16px;
  margin-top:   30px;
  margin-bottom: 6px;
}

div.block h6 {
  font-size:    16px;
  margin-top:   30px;
  margin-bottom: 6px;
}

/*
 * Bullet and ordered lists. Put some space before and after the list.
 * Listes of the "verbose" class also have some space betweem items.
 */
div.block ul,
div.block ol {
  margin-top:    9px;
  margin-bottom: 9px;
}

div.block li > ul,
div.block li > ol {
  margin-top:    0;
  margin-bottom: 6px;
}

ul.verbose li {
  margin-top:    6px;
  margin-bottom: 6px;
}




/* ----------------------------------------------------------------------
 * End of SIS-specific part. The remaining of this file overwrite some
 * aspects of the Javadoc default stylesheet.
 */
body, div.block {
  color:       black;
  font-family: Helvetica, Arial, sans-serif;
}

.contentContainer .description dl dd, .contentContainer .details dl dd, .serializedFormContainer dl dd {
  color:       #353833;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 40px;
}

pre, div.block pre, code, tt, dt code, table tr td dt code {
  font-family: Andale Mono, Courier New, monospace;
}

div.block pre, code, tt, dt code, table tr td dt code {
  line-height: 1em;
  font-size:   1em;
}
