/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Override styles in maven-base.css */
#leftColumn {
 width: 190px;
}
#bodyColumn {
  margin-left: 210px;
}

/* Override styles in maven-theme.css */
a {
  color: #387085;
}
a:active, a:hover {
  text-decoration: underline;
}
p {
  text-align: justify;
}
h2 {
  background: url(../images/h2.png) repeat-x;
  -moz-border-radius: 10px;
  color: #606060;
  height: 30px;
  padding-left: 15px;
}
h3 {
  color: #404040;
}
h4 {
  color: #606060;
  border: none;
  font-size: medium;
  font-weight: bold;
  padding-left: 0px;
  padding-bottom: 0px;
}
h5 {
  color: #404040;
}
dl {
  border: 0px;
  background-color: #ffffff;
}
#breadcrumbs {
  background: url(../images/bar.png) repeat-x;
  color: black;
  height: 21px;
  line-height: 20px;
}
#breadcrumbs a {
  color: black;
}
